input[type="text"], textarea {
    width: 350px;
}

textarea {
    height: 80px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th {
    background: #EEE;
    border: 1px solid #CCC;
    padding: 4px;
    text-align: left;
}

table thead tr th:nth-child(1) {
    width: 165px;
    text-align: center;
}

table thead tr th:nth-child(2),
table thead tr th:nth-child(3) {
    min-width: 180px;
    max-width: 450px;
}

table thead tr th:nth-child(4),
table thead tr th:nth-child(5) {
    width: 80px;
    text-align: center;
}

table td {
    border: 1px solid #CCC;
    padding: 4px;
}

table tbody tr:hover {
    background: #CCC;
}

table tbody tr:hover td {
    color: #0000cc;
}

table tbody tr td:nth-child(1) {
    text-align: center;
}

table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5) {
    text-align: right;
}

table a {
    color: inherit;
    padding: 0px 4px;
    text-decoration: none;
}

.error {
    background: #cc0033;
    color: #FFF;
    display: block;
    padding: 4px 0px;
    text-align: center;
}

.success {
    background: #009933;
    color: #FFF;
    display: block;
    padding: 4px 0px;
    text-align: center;
}

#menu {
    background: #000;
    color: #FFF;
    padding: 5px;
}

#menu a {
    color: inherit;
    padding: 0px 4px;
    text-decoration: none;
}

#menu a:hover {
    color: #00ccff;
}

.title {
    background: #000;
    color: #FFF;
    display: block;
    padding: 5px;
}

#tbConfigList th, #tbConfigList td{
    text-align: left;
}

#tbConfigList td{
    width: 50%;
}

#tbHostsList tr:hover {
    background: #FFF;
}

#tbHostsList tr:hover td {
    color: #000;
}

#tbHostsList td {
    text-align: left;
    vertical-align: top;
}

.variables_key, .variables_val {
    width: 170px !important;
}